/**
* Official color palette
*/

// Primary colours
$navy: #223746;
$sky: #005fa4;
$gold: #fcb116;
$tan: #ebd29e;

// Secondary colours

$sonic-grey: #9b9b9b;
$light-grey: #d7d7d7;
$sand: #f0efed;
$smoke: #f5f5f5;

$light-blue: #ebf7ff;

// Status colours
$success-green: #1d9f49;
$alert-yellow: #dc9325;
$alert-amber: #af4525;

// NEW

$primary-dark: #2a254b;
$primary: #4e4d93;
$gray-light: #f9f9f9;
$border: #ebe8f4;
$border-dark: #cac6da;
$white: #ffffff;
$graphite: #3c4043;
